<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968633011077-fdpljgvk8hjee0j3eu464e50rp02sjqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968633011077-fdpljgvk8hjee0j3eu464e50rp02sjqh</string>
	<key>API_KEY</key>
	<string>AIzaSyDHWm8Xv8ZHz6jaqAPAIXqohP8jDNz8IWM</string>
	<key>GCM_SENDER_ID</key>
	<string>968633011077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annasteel.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-d1501</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-d1501.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968633011077:ios:c435ac188697ff2cea92ec</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-d1501.firebaseio.com</string>
</dict>
</plist>